@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

.loginroot {
  box-sizing: border-box;
}

.btnShake {
  animation: shake 0.3s;
  animation-duration: 1s;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-iteration-count: 8;
}
@keyframes shake {
  0% {
    transform: translateX(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translatey(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translatex(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translatey(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translatex(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translatex(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translatex(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translatex(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translatex(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translatex(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translatex(1px, -2px) rotate(-1deg);
  }
}
.textWidth {
  width: 100%;
}
.error {
  animation: shake 0.2s;
  animation-iteration-count: 4;
  border-bottom: 1px solid orangered;
}
.errorButton {
  animation: shake 0.3s;
  animation-iteration-count: 8;
}
.rotateName {
  animation: rotate 2s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
.noBorder {
  border: none;
}
@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(360deg);
  }
}
@keyframes shake {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateX(-10px);
  }

  /* 100% { right: -10px; } */
}
.subscribeButton {
  border-radius: "30px";
  font-weight: "bold";
  padding: "1rem 2rem";
  letter-spacing: "1px";
  transition: "transform 80ms ease-in";
  background: "linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%)";
}
.subscribeFormList {
  background: rgba(0, 0, 0, 0.2);
}
.subscribe-form {
  background: linear-gradient(to bottom, #ffccff 0%, #ff99cc 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0px;
  height: 100%;
  width: 40%;
  text-align: center;
}
@media screen and (max-width: 901px) {
  .subscribe-form {
    background: linear-gradient(to bottom, #ffccff 0%, #ff99cc 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    text-align: center;
  }
}
.tab {
  color: #3f5efb;
  margin-top: 2rem;
}
.tab:hover {
  border-top: 2px solid #ca278c;
  background-color: #fff;
  transform: translateY(-5px);
}
.loginbody {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}
.drawCard {
  padding: 1rem 2rem;
  font-family: "Gotham 5r", Helvetica, Arial, sans-serif;
  border-radius: "20px";
  transition: "0.3s ease";
  z-index: "100px";
  text-transform: "uppercase";
  box-shadow: "-10px 0px 3px 0px green";
}
.drawCard:hover {
  transform: "scale(1.02)";
}
@media screen and (max-width: 901px) {
  .drawCard {
    width: 100%;
    padding: 0 1rem;
    z-index: inherit;
    font-family: "Gotham 5r", Helvetica, Arial, sans-serif;
    border-radius: "20px";
    transition: "0.3s ease";
    z-index: "100px";
    text-transform: "uppercase";
    box-shadow: "-10px 0px 3px 0px green";
  }
}
.login-h1 {
  font-weight: bold;
  margin: 0;
}

.login-h2 {
  text-align: center;
}

.login-p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.login-span {
  font-size: 12px;
}

.login-a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.login-button {
  border-radius: 20px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.signin {
  border: 1px solid #fff;
  background-color: #3f5efb;
}

.signup {
  border: 1px solid #fff;
  background-color: #fc466b;
}

.signin,
.ghost {
  border: 1px solid #fc466b;
  background-color: #fc466b;
}

.signup,
.ghost {
  border: 1px solid #3f5efb;
  background-color: #3f5efb;
}

.login-button:active {
  transform: scale(0.95);
}

.login-button:focus {
  outline: none;
}

.login-button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.login-form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
@media screen and (max-width: 901px) {
  .login-form {
    padding: 0 1rem;
  }
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.login_container {
  background-color: #fff;
  /* border-radius: 10px; */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 60vw;
  max-width: 100%;
  min-height: 80vh;
}
@media screen and (max-width: 901px) {
  .login_container {
    position: relative;
    overflow: hidden;
    width: 85vw;
    max-width: 100%;
    min-height: 160vh;
  }
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
@media screen and (max-width: 901px) {
  .form-container {
    top: 0;
    height: 50%;
    transition: all 0.6s ease-in-out;
  }
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
  overflow-x: auto;
}
@media screen and (max-width: 901px) {
  .sign-in-container {
    left: 0;
    width: 100%;
    z-index: 2;
  }
}

.login_container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}
@media screen and (max-width: 901px) {
  .login_container.right-panel-active .sign-in-container {
    transform: translateY(100%);
  }
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
@media screen and (max-width: 901px) {
  .sign-up-container {
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: 1;
    overflow-y: auto;
  }
}

.login_container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  background-color: white;
  z-index: 5;
  animation: show 0.6s;
}
@media screen and (max-width: 901px) {
  .login_container.right-panel-active .sign-up-container {
    transform: translateY(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }
}
@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
@media screen and (max-width: 901px) {
  .overlay-container {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 50%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }
}

.login_container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}
@media screen and (max-width: 901px) {
  .login_container.right-panel-active .overlay-container {
    transform: translateY(-100%);
  }
}
.forgotPwd {
  background: linear-gradient(
    to left,
    rgba(63, 94, 251, 1) 0%,
    rgba(118, 87, 209, 1) 44%,
    rgba(252, 70, 107, 1) 100%
  );
  border: 1px solid #f5f2f2;
  border-radius: 20px;
  color: #eee;
}

.overlay {
  background: rgb(63, 94, 251);
  background: -webkit-linear-gradient(
    to left,
    rgba(63, 94, 251, 1) 0%,
    rgba(118, 87, 209, 1) 44%,
    rgba(252, 70, 107, 1) 70%
  );
  background: linear-gradient(
    to left,
    rgba(63, 94, 251, 1) 0%,
    rgba(118, 87, 209, 1) 44%,
    rgba(252, 70, 107, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.login_container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.login_container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.login_container.right-panel-active .overlay-right {
  transform: translateX(20%);
}
